@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfbf7;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
